/* main.css */

.table {
  --bs-table-bg: var(--bs-primary);
  --bs-table-striped-bg: var(--bs-secondary);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--bs-tertiary);
  text-decoration: underline;
}

.img-profile {
  height: 50px;
}

img {
  pointer-events: none;
  user-select: none;
}

@media only screen and (width <= 767px) {
  .img-profile {
    height: 36px;
  }

  .small, small {
    font-size: .7em
  }
}