/* main.css */

.table {
  --bs-table-bg: var(--bs-primary);
  --bs-table-striped-bg: var(--bs-secondary);
}

.table>:not(caption)>*>* {
  padding: .5rem 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--bs-tertiary);
  text-decoration: underline;
}