/* main.css */

.logo-background {
  background: linear-gradient(rgb(9 20 40 / 99%),rgb(9 20 40 / 99%)),url("/images/muelitaschallenge.svg");
  background-position: 50%;
  background-repeat: repeat;
  background-size: 14%;
  position: fixed;
  z-index: -1;
}

a {
  color: white;
  text-decoration: none;
}

a:hover, a:hover span {
  color: var(--bs-tertiary)!important;
  text-decoration: underline;
}

.img-profile {
  height: 46px;
}

img {
  pointer-events: none;
  user-select: none;
}

.icon {
  min-width: 1em;
}

@media only screen and (width <= 767px) {
  .img-profile {
    height: 36px;
  }

  .small, small {
    font-size: .7em
  }
}
