:root, [data-bs-theme="dark"] {
  --bs-primary: #3a4052;
  --bs-primary-rgb: 58, 64, 82;
  --bs-body-bg: #091428;
  --bs-body-bg-rgb: 9, 20, 40;
  --bs-dark: var(--bs-body-bg);
  --bs-dark-rgb: var(--bs-body-bg-rgb);
  --bs-secondary: #29334a;
  --bs-secondary-rgb: 41, 51, 74;
  --bs-tertiary: #a3dd46;
  --bs-tertiary-rgb: 163, 221, 70;
  --positive: #9f9;
  --negative: #ff7583;
  --bs-body-font-family: "Mukta";
  --bs-body-font-size: 1.12rem;
  --bs-body-font-weight: 300;
}

.router-link-exact-active {
  --bs-bg-opacity: 1;

  background-color: rgba(var(--bs-tertiary-rgb),var(--bs-bg-opacity))!important;
  color: var(--bs-dark);
}

.router-link-exact-active:hover,  .router-link-exact-active:focus {
  color: var(--bs-dark);
}

.router-link-exact-active:hover {
  background-color: rgba(212, 255, 144, var(--bs-bg-opacity))!important; 
}

.text-positive {
  color: var(--positive);
}

.text-negative {
  color: var(--negative);
}

.bg-positive {
  background-color: var(--positive);
}

.bg-negative {
  background-color: var(--negative);
}

.live {
  color: #ff2b2b;
}

.not-live, .not-ingame {
  color: #5d5d5d;
}

.ingame {
  color: #2de3ff;
}

.not-ingame {
  border: none;
}

.twitch {
  color: #bf94ff;
}

.bg-instagram {
  background-color: #C13584;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-primary);
}

main ::-webkit-scrollbar {
  height: 10px;
}

main ::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-tertiary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-tertiary);
}